DATABASE_URL=postgres://postgres:postgres@localhost:5432/prox3
SLACK_BOT_TOKEN=xoxb-replace-me
SLACK_SIGNING_SECRET=replace-me
# openssl rand -hex 32
OWL_PEPPER=replace-me-with-at-least-32-chars
POST_CHANNEL=C0123456789
META_CHANNEL=C0123456789
REVIEW_CHANNEL=C0123456789
LOG_CHANNEL=C08R8LE6DDG

# fucking around with the port for local dev
PORT=8080
DB_POOL_SIZE=10
